<!DOCTYPE html>
<html>
  <head>
    <title>missing_i18n</title>
    <%= stylesheet_link_tag    "missing_i18n/application", :media => "all" %>
    <%= javascript_include_tag "missing_i18n/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
