<!DOCTYPE html>
<html>
<head>
  <title>MissingTranslations</title>
  <%= stylesheet_link_tag    "missing_translations/application", :media => "all" %>
  <%= javascript_include_tag "missing_translations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
